<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<script src="/js/jquery-3.5.1.min.js"></script>
<script>
	$(function() {
		var form = $("#board");
		//수정버튼 클릭 이벤트
		$("#btnModify").on("click", function() {
			var boardNo = $("#boardNo").val();

			self.location = "/board/modify?boardNo=" + boardNo;

		})

		//삭제버튼
		$("#btnRemove").on("click", function() {
			var boardNo = $("#boardNo").val();

			form.submit();
		})

		//목록 버튼 클릭 이벤트
		$("#btnList").on("click", function() {
			self.location = "/board/list";
		})

		// 댓글 등록 버튼 클릭 이벤트
		$("#btnReplyRegister").on('click', function() {
			var reply_writer = $('#replyWriter').val();
			var reply_content = $('#replyContent').val();
			var board_no = $('#boardNo').val();
			writeReply(board_no, reply_writer, reply_content); //함수 만들어서 ajax 요청
		})
		
		
		// 댓글 수정 버튼 클릭 이벤트
		$(".btnReplyModify").on('click', function() {	//아이디선택자로 받아옴.
			
			var reply_list = $(this).parent(); //현재 클릭한 요소의 부모 li
			
			var reply_no = $(this).attr('data');		//replyNo
			var reply_writer = reply_list.children('.replyWriter').text();
			var reply_content = reply_list.children('.replyContent').text();
			
			var editor= "<div>"
								+ "<input type = 'text' name = 'replyWriter' class='replyWriter' value = " + reply_writer + "> <br>"
								+ "<textarea rows = '4' cols ='60' >" + reply_content+"</textarea> <br>"
								+"<button type='button' class ='btnReplyRegister' data=' " + reply_no +  " ' >  등록  </button>"
								+ "</div>";
			reply_list.append(editor);
			reply_list.children('.replyContent').remove();
		});
		
		
		
		
	});
	
	
	
	
	

	//댓글 등록
	function writeReply(board_no, reply_writer, reply_content) {
		$.ajax({
			//필수 포함 내용: url, type,  data,  dataType,  success,  error
			url : '/board/replyRegister', //request 보낼 서버의 경로
			type : 'post', // method(get, post, put ) 등
			data : {
				'boardNo' : board_no,
				'writer' : reply_writer,
				'content' : reply_content
			},
			dataType : "text",
			success : function(data) {
				//서버로부터 정상적으로 응답이 왔을 때 실행
				//data: 서버로 부터 응답 받은 text 또는 view(.html)
				$('#replyList').empty(); //댓글 목록 비우기
				$('#replyList').append(data); //새 댓글 포함한 댓글 목록 갱신
				$('#replyWriter').val(''); //댓글 작성자 초기화 
				$('#replyContent').val(''); //댓글 내용 초기화
			},
			error : function(request, status, error) {
				//서버로부터 응답이 정상적으로 처리 되지 못했을 때 실행
				alert("code = " + request.status + " message = "
						+ request.responseText + " error = " + error);
			}
		});
	}
</script>

<body>
	<h2>글 읽기</h2>

	<form id="board" th:action="@{remove}" th:object="${board}"
		method="post">

		<input type="hidden" id="boardNo" name="boardNo" th:value="*{boardNo}" />
		<table>
			<tr>
				<td>제목</td>
				<td><input type="text" name="title" th:field="*{title}"
					readonly="readonly" /></td>
			</tr>
			<tr>
				<td>작성자</td>
				<td><input type="text" name="writer" th:field="*{writer}"
					readonly="readonly" /></td>
			</tr>
			<tr>
				<td>내용</td>
				<td><textarea name="content" th:field="*{content}" rows="20"
						cols="80" readonly="readonly"></textarea></td>
			</tr>
			<tr>
				<td>파일</td>
				<td>
					<div id="files">
						<div th:each="file: ${files}" class="file">
							<a
								th:href="|/file/fileDownload?fullName=${file.fullName}&fileName=${file.fileName}|"
								th:text="${file.fileName}"></a>
						</div>
					</div>
					<div th:if="!${#lists.isEmpty(files)}">
						<a
							th:href="|/file/zipDownload?boardNo=${board.boardNo}&title=${board.title}|">전체
							다운로드</a>
					</div>
				</td>
			</tr>
		</table>
	</form>

	<!--  댓글 목록 영역 -->
	<div id="replyList">
		<ul>
			<li th:each="reply: ${replyList}"><span class="replyWriter"
				th:text="${reply.writer}"></span> <span class="replyDate"
				th:text="${#dates.format(reply.regDate, 'yyyy-MMMM-dd HH:mm:ss')}"></span>
				<a href="javascript:;" title="" class="btnReplyModify"
				th:data="${reply.replyNo}"> 수정</a> <a href="javascript:;"  title=""
				class="btnReplyRemove"  th:data="${reply.replyNo}"> 삭제</a> <br>
				<span class="replyContent" th:text="${reply.content}"></span> 
			</li>

		</ul>
	</div>

	<!--  댓글 입력 -->
	<div>
		<input type="text" name="replyWriter" id="replyWriter"
			placeholder="작성자" class="writer"> </br>
		<textarea rows="5" cols="80" placeholder="댓글입력" id="replyContent"></textarea>
		<div>
			<button type="button" id="btnReplyRegister">등록</button>
		</div>
	</div>
	<br>

	<div>
		<button type="submit" id="btnModify">수정</button>
		<button type="submit" id="btnRemove">삭제</button>
		<button type="button" id="btnList">목록</button>
	</div>
</body>


</html>