<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layouts/main_template}"
	  >


<head>
	<meta charset="UTF-8">
	<title>test</title>
	<script src="/js/page.js"></script>
</head>
<body layout:fragment="content">
<div class="content">
	<div class="content-center">
		<h2>게시글 목록</h2>
		<form th:action="@{search}" method="post">
			<a th:href="@{register}">글쓰기</a>
			<input type="text" name="keyword" th:value="${page.keyword}" id="page-keyword"/><input type="submit" value="검색"/>
			<input type="hidden" name="pageNum" th:value="${page.pageNum}" id="page-pageNum" />
			<input type="hidden" name="rowsPerPage" th:value="${page.rowsPerPage}" id="page-rowsPerPage"  />
			<input type="hidden" name="firstPage" th:value="${page.firstPage}" />
			<input type="hidden" name="lastPage" th:value="${page.lastPage}" />
			<input type="hidden" name="totalCount" th:value="${page.totalCount}" id="page-totalCount" />
			<input type="hidden" name="pageCount" th:value="${page.pageCount}" id="page-pageCount" />
			
			<select id="rowsPerPage" name="rowsPerPage">
				<option value="5">5줄 보기</option>
				<option value="10">10줄 보기</option>
				<option value="20">20줄 보기</option>
				<option value="30">30줄 보기</option>
			</select>
			
			<select id="pageCount" name="pageCount">
				<option value="5">5페이지 보기</option>
				<option value="10">10페이지 보기</option>
				<option value="20">20페이지 보기</option>
			</select>
		</form>
		
		
		<table border="1">
			<thead>
				<tr>
					<th width="80">행번호</th>
					<th width="80">글번호</th>
					<th width="320">제목</th>
					<th width="100">작성자</th>
					<th width="180">등록일자</th>
					<th width="180">수정일자</th>
				</tr>
			</thead>
			<tbody>
			
				<tr th:if="${#lists.isEmpty(list)}">
					<td colspan="6" align="center">
						조회된 데이터가 없습니다.
					</td>
				</tr>
			
				<tr th:each="board : ${list}">
					<td align="center" th:text="${board.rowNo}"></td>
					<td align="center" th:text="${board.boardNo}"></td>
					<td align="left">
						<th:block th:if="${board.depthNo} > 0">
							<th:block th:each="no : ${#numbers.sequence(1, board.depthNo)}">
								<span style="padding-left: 20px;"></span>
							</th:block>
							<img th:src="@{/img/reply_arrow.png}" alt="reply_arrow" />
						</th:block>
						<a th:href="@{|/board/read?boardNo=${board.boardNo}|}" th:text="${board.title}"></a>
						<a th:href="@{|/board/read?boardNo=${board.boardNo}#replyList|}" th:if="${board.replyCount > 0}">
						   [<span th:text=${board.replyCount}></span>]
						</a>
					</td>
					<td align="right" th:text="${board.writer}"></td>
					<td align="center" th:text="${#dates.format(board.regDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
					<td align="center" th:text="${#dates.format(board.updDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
				</tr>	
			</tbody>
		</table>
		
		<!-- 페이징 처리 -->
		<div th:if="${page.totalCount} != 0" th:object="${page}" class="txt-center">
			
			<!--
				th:object="${page}"  등록하면,
				 
				${page.pageNum} 이렇게 작성해야할 데이터를 
				*{pageNum}		으로 축약해서 사용할 수 있다.
					
			 -->
			<a th:href="|/board/list?pageNum=*{firstPage}&totalCount=*{totalCount}&rowsPerPage=*{rowsPerPage}&pageCount=*{pageCount}&keyword=*{keyword}|">[처음]</a>
			
			<th:block th:if="*{prev > 0 }">
				<a th:href="|/board/list?pageNum=*{prev}&totalCount=*{totalCount}&rowsPerPage=*{rowsPerPage}&pageCount=*{pageCount}&keyword=*{keyword}|">[이전]</a>
			</th:block>	
				
			<th:block th:each="no : ${#numbers.sequence( page.startPage, page.endPage )}">
				<th:block th:if="${no == page.pageNum}">
					<b>
				</th:block>
				
				<a th:href="|/board/list?pageNum=${no}&totalCount=*{totalCount}&rowsPerPage=*{rowsPerPage}&pageCount=*{pageCount}&keyword=*{keyword}|" 
				   th:text="${no}"></a>		
				   
				<th:block th:if="${no == page.pageNum}">
					</b>
				</th:block>
			</th:block>
		
			<th:block th:if="*{next <= lastPage}">
				<a th:href="|/board/list?pageNum=*{next}&totalCount=*{totalCount}&rowsPerPage=*{rowsPerPage}&pageCount=*{pageCount}&keyword=*{keyword}|">[다음]</a>
			</th:block>
		
			<a th:href="|/board/list?pageNum=*{lastPage}&totalCount=*{totalCount}&rowsPerPage=*{rowsPerPage}&pageCount=*{pageCount}&keyword=*{keyword}|">[끝]</a>
		
		</div>
	</div>
</div>
	
	
	
		
</body>
</html>






















