<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	
	<!-- csrf token -->
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	
	<title>ALOHA CAMPUS</title>
	<script src="/js/jquery-3.5.1.min.js"></script>
</head>
<body>
<div>
	<h2>회원가입</h2>
	<form id="member" th:action="@{/user/register}" th:object="${member}" method="POST">
		<table>
			<tr>
				<th>아이디</th>
				<td><input type="text" name="userId" th:field="*{userId}" id="useId"/>
					<button type ="button" id="checkDuplicated"> 중복확인 </button>
				</td>
				<td>
					<span id="idError"></span>
				</td>
			</tr>
			<tr>
				<th>비밀번호</th>
				<td><input type="password" name="userPw" th:field="*{userPw}" /></td>
			</tr>
			<tr>
				<th>이름</th>
				<td><input type="text" name="userName" th:field="*{userName}" /></td>
			</tr>
		</table>
	</form>
	<div>
		<button type="button" id="btnRegister">등록</button>
		<button type="button" id="btnList">목록</button>
	</div>
</div>
	<script>
	
		let idChk = false;
		let pwChk = false;
		
		
		
		$(document).ready(function() {
			
			var form = $("#member");
			
			// 등록 버튼 - 클릭 이벤트
			$("#btnRegister").on("click", function() {
				let userId= $('#userId').val();
				let userPw= $('#userId').val();
				let userName= $('#userId').val();
				
				if(userId ==undefined || userId==""){
					alert("아이디를 입력해주세요");
					return;
				}  

				if(idChk ==false){
					alert("아이디를 입력해주세요");
					return;
				}  
				

				if(userPw==undefined|| userPw==""){
					alert("아이디를 입력해주세요");
					return;
				}  
				
				if(userName==undefined || userName==""){
					alert("이름를 입력해주세요");
					return;
				}  
				
				form.submit();
			});
			
			// 목록 버튼 - 클릭 이벤트
			$("#btnList").on("click", function() {
				self.location = "list";				
			});
			
			
			//csrf token
			var token = $("meta[name='_csrf']").attr("content");
			var header=$("meta[name='_csrf_header']").attr("content");
			
			//ajax가 보내질 떄 실행되는 이벤트.
			$(document).ajaxSend(function(e,xhr,options){
				xhr.setRequestHeader(header,token);
			});
			
			//중복 확인 - 클릭 이벤트(화면이 바뀌면 안 됨)
			$("#checkDuplicated" , "#userId").on("click keyup", function(){
				var userId = $("#userId").val();
				
			
				$.ajax({
					//필수 포함 내용: url, type,  data,  dataType,  success,  error
					url : '/user/checkUserId', //request 보낼 서버의 경로
					type : 'post', // method(get, post, put ) 등
					data : {
						'userId' : userId,
					},
					dataType : "text",
					success : function(data) {
						//서버로부터 정상적으로 응답이 왔을 때 실행
						//data: 서버로 부터 응답 받은 text 또는 view(.html)
						//전달 받은게 true면 사용 가능.
						//아니면 사용 안됨
						
						
						//메시지는 2가지로 가능.
						
						let success="사용 가능한 아이디입니다.";
						let fail="이미 사용중인 아이디입니다.";
					
						if(data){
							//alert("사용 가능한 아이디입니다.");
							$('#idError').css('color','lightgreen').text(success);
						}else {
							//alert("이미 사용 중인 아이디 입니다.")
							$('#idError').css('color','red').text(fail);
						}
					},
					error : function(request, status, error) {
						//서버로부터 응답이 정상적으로 처리 되지 못했을 때 실행
						alert("code = " + request.status + " message = " + request.responseText + " error = " + error);
					}
				});
			});
		});
	</script>
</body>
</html>
























