<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" 
>
<body>
	<div align="right" th:fragment="header">
		<table>
			<tr sec:authorize="!isAuthenticated()">
				<td width="80"><a href="#"    th:href="@{/user/register}">회원가입</a></td>
				<td width="80"><a href="#"    th:href="@{/auth/loginForm}">로그인</a></td>
			</tr>
			
			<tr sec:authorize="isAuthenticated()">
				<td width="180">
					<form action="/auth/logout" method="post">
						<span sec:authentication="principal.username"></span>님
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						<input type="submit" value= "로그아웃"/>
					</form>
<!-- 					<a href="#"    th:href="@{/auth/logout}">로그아웃</a></td> -->
			</tr>
		</table>
	</div>
</body>
</html>